.introboxContainer{
    display: flex;
    flex-direction: row;
    background-color: #022E40;
    width: 100%;
    height: 45vw;
    justify-content: center;
    align-items: center;
}

.introText1{
    /* color: #022E40; */
    color: white;
    font-size: 6rem;
    font-weight: bolder;
    padding: 2.7rem;
}
.introText2{
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem;
}


.geekbotImage{
    width: 10rem;
}

@media only screen and (max-width: 1000px) {
    .introText1{
        font-size: 4rem;
    }

    .geekbotImage{
        width: 6rem;
    }
}